numpy==2.5.1
scipy==1.18.0
pandas==3.0.3
pydantic==2.13.4
python-multipart==0.0.32
websockets==16.1.1
numba==0.67.0
fastapi==0.141.1
uvicorn==0.52.1
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
PyJWT==2.13.0
passlib==1.7.4
bcrypt==4.0.1
openpyxl==3.1.5
alembic==1.19.1
